.salaries-table-container {
    text-align: center;
    padding: 20px;
    width: 80%;
}

.salaries-searchbox {
    background-color: rgb(206, 206, 206);
    width: 86%;
    margin: auto;
    padding: 20px;
    display: flex;
    border-radius: 4px;
    border: 1px solid whitesmoke;
    box-shadow: 0px 2px 2px 0px rgb(221, 221, 221);
}

.salaries-search-input {
    padding: 2px 5px 2px 5px;
    font-size: 15px;
}

.salaries-search-btn {
    margin-left: auto;
    font-size: 15px;
    background-color: rgb(74, 74, 255);
    color: white;
    font-weight: 800;
    padding: 1px 5px 1px 5px;
    cursor: pointer;
    border: 0;
    border-radius: 5px;
}

.salaries-search-btn:hover {
    background-color: rgb(52, 157, 255);
    border: 0;
}

.salaries-table-title {
    font-size: 28px;
    margin-bottom: 20px;
    color: black;
}

.salaries-table-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.salaries-table-hyg {
    padding: 10px;
    border: 1px solid #444;
    border-radius: 5px;
}

.salaries-table-add-button {
    background-color: #21272b;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.salaries-table-add-button:hover {
    background-color: black;
}

.salaries-table {
    width: 86%;
    margin: auto;
    margin-top: 1.5rem;
    background-color: white;
    border-collapse: collapse;
}

.salaries-table-header {
    font-weight: 700;
    background-color: rgb(238, 238, 238);
}

.salaries-table-row {
    font-weight: 500;
    transition: box-shadow 0.3s ease;
}

.salaries-table-row:hover {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

.salaries-column-date,
.salaries-column-venue,
.salaries-column-time,
.salaries-column-status,
.salaries-column-actions {
    padding: 10px;
    border: 1px solid rgb(207, 207, 207);
}

.salaries-column-date {
    width: 21%;
    border-right: none;
}

.salaries-column-venue {
    width: 22%;
    border-right: none;
}

.salaries-column-time {
    width: 27%;
    border-right: none;
}

.salaries-column-status {
    width: 15%;
    border-right: none;
}

.salaries-column-actions {
    width: 26%;
}

.salaries-img-delete {
    padding-right: 7px;
    cursor: pointer;
}

.salaries-img-edit {
    padding-left: 15px;
    cursor: pointer;
}

.salaries-img-view {
    padding-left: 10px;
    cursor: pointer;
}
.salaries-btn-active {
    font-size: 15px;
    background-color: rgb(62, 255, 72);
    border: 0;
    padding: 1px 10px 1px 10px;
    font-weight: 800;
    border-radius: 5px;
    cursor: pointer;
}
.salaries-btn-active:hover{
    font-size: 16.5px;
    color: white;
    background-color: rgb(6, 192, 31);
}
.sal-inac{
    font-size: 15px;
    background-color: rgb(231, 116, 78);
    border: 0;
    padding: 1px 10px 1px 10px;
    font-weight: 800;
    border-radius: 5px;
    cursor: pointer;
}
.sal-inac:hover{
    font-size: 16.5px;
    color: white;
    background-color: rgb(194, 27, 15);
}
@media (max-width: 768px) {
    .types-searchbox {
        width: 100%;
        padding: 10px;
    }

    .types-search-input {
        flex: 1;
        padding: 10px;
    }

    .types-search-btn {
        padding: 10px;
    }
}